body {
	margin: 0px;
	background-color: #364026;
}
body,h1,h2,h3,h4,h5,h6 {
  	font-family: "Vollkorn SC", sans-serif;
}
h1 {
	font-size: 50px;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
.header {
    padding-top: 80px;
    margin: 10px;
    color: white;
    text-align: center;
}
.box {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}
.card {
    width: 90%;
    padding: 50px;
    text-align: center;
    border-radius: 5px;
    border: solid 1px;
    background-color: #d1d1d1;
    margin: 15px;
    box-shadow: 5px 5px 5px #9a9f92;
}
.card img {
    width: 100%;
    height: auto;
}
.button1 {
    display: block;
    color: white;
    margin: 10px;
    width: 400px;
    height: 250px;
    background-image: url("imgs/button1.jpg");
    box-shadow: 2px 2px 2px #878787;
    align-content: center;
    margin: 0 auto;
    font-size: 3em;
    padding-top: 120px;
}
.button2 {
    display: block;
    color: white;
    margin: 10px;
    width: 400px;
    height: 250px;
    background-image: url("imgs/button2.jpg");
    box-shadow: 2px 2px 2px #878787;
    align-content: center;
    margin: 0 auto;
    font-size: 3em;
    padding-top: 120px;
}
.button3 {
    display: block;
    color: white;
    margin: 10px;
    width: 400px;
    height: 250px;
    background-image: url("imgs/button3.jpg");
    box-shadow: 2px 2px 2px #878787;
    align-content: center;
    margin: 0 auto;
    font-size: 3em;
    padding-top: 120px;
}
.button4 {
    display: block;
    color: white;
    margin: 10px;
    width: 400px;
    height: 250px;
    background-image: url("imgs/button4.jpg");
    box-shadow: 2px 2px 2px #878787;
    align-content: center;
    margin: 0 auto;
    font-size: 3em;
    padding-top: 120px;
}
.button5 {
    display: block;
    color: white;
    margin: 10px;
    width: 400px;
    height: 250px;
    background-image: url("imgs/button5.jpg");
    box-shadow: 2px 2px 2px #878787;
    align-content: center;
    margin: 0 auto;
    font-size: 3em;
    padding-top: 120px;
}
.submit {
    background-color: gold;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}
.submit:hover {
    background-color: green;
    color: white;
}
.container {
    border-radius: 5px;
    background-color: gray;
    padding: 20px;
    margin: 20px;
}
.return {
    background-color: gold;
    color: black;
    font-size: 2em;
    padding: 30px 50px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
}
.return:hover {
    background-color: green;
    color: white;
}
.container2 {
    padding: 170px;
    margin: 20px;
}
